* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-clr: #FFFFFF;
  --black-clr: #1D1D1F;
  --gray-1-clr: #394150;
  --gray-2-clr: #D2D5DA;
  --gray-3-clr: #E5E7EB;
  --gray-4-clr: #F3F4F6;
  --font-fw-regular: 400;
  --font-fw-medium: 500;

  --font-size-1: 1.2rem;
  --font-size-2: 0.8rem;
  --font-size-3: 0.6rem;
  --font-size-4: 0.5rem;

  --box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-1);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4.5rem;
  overflow: hidden;
  border: 1px solid var(--gray-2-clr);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

button {
  all: unset;
}

.author-info {
  font-size: var(--font-size-4);
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.checkout-header {
  background-image: url("../resources/Expand_down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white-clr);
  width: 100%;
  height: 150px;
}

.header-title {
  font-weight: var(--font-fw-regular);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
}

.checkout-header h1 {
  font-size: var(--font-size-1);
}

.checkout-header span {
  font-size: var(--font-size-3);
}

.item-badge {
  background-color: var(--black-clr);
  color: var(--white-clr);
  padding: 0.3rem 0.7rem;
  border-radius: 1rem;
}

.checkout-summary {
  background-color: var(--gray-3-clr);
  padding: 1.25rem;
}

.product-list {
  display: grid;
}

.product {
  margin-bottom: 1rem;
}

.product-img-container {
  background-color: var(--white-clr);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-2-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  max-width: 1.5rem;
}

.product-details {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 0.8rem;
  margin-left: 1rem;
  font-weight: var(--font-fw-regular);
  font-size: var(--font-size-3);
}

.product-details > :first-child {
  color: var(--black-clr);
}

.product-details > :nth-child(2) {
  color: var(--gray-1-clr);
}

.product-details > :last-child {
  color: var(--gray-1-clr);
}

.product-quantity {
  margin-top: 1rem;
}

.product-price-container {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.product-price {
  font-size: var(--font-size-3);
}

.cancel-btn {
  color: var(--gray-1-clr);
  cursor: pointer;
  font-size: var(--font-size-4);
}

.line-break {
  border: 1px solid var(--gray-2-clr);
  margin-bottom: 1rem;
}

.checkout-total-container {
  margin-top: 0.8rem;
}

.checkout-subtotal, .checkout-tax {
  justify-content: space-between;
  color: var(--gray-1-clr);
  font-size: var(--font-size-2);
  font-weight: var(--font-fw-medium);
  margin-bottom: 0.5rem;
}

.checkout-total {
  justify-content: space-between;
  color: var(--black-clr);
  font-size: var(--font-size-2);
}

.checkout-contact {
  flex: 1;
}

.checkout-coupon {
  justify-content: space-between;
}

.coupon-box {
  flex: 1;
  background-color: var(--white-clr);
  border-radius: 0.3rem;
  border: 1px solid var(--gray-2-clr);
  padding: 0.5rem;
  align-items: center;
  font-size: var(--font-size-3);
}

.btn-coupon {
  background-color: var(--black-clr);
  color: var(--white-clr);
  margin-left: 0.3rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: var(--font-size-4);
}

.checkout-contact {
  padding: 1.25rem;
  font-size: var(--font-size-3);
  background-color: var(--white-clr);
}

label {
  margin-bottom: 0.5rem;
  color: var(--gray-1-clr);
  font-size: var(--font-size-3);
  font-weight: var(--font-fw-medium);
}

.name, .email {
  display: grid;
  margin: 1rem 0 0.5rem 0;
}

#name, #email, #country, #postal-code {
  background-color: var(--white-clr);
  border-radius: 0.3rem;
  border: 1px solid var(--gray-2-clr);
  padding: 0.5rem;
}

.country-postal-code-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

select, input {
  width: 100%;
  font-size: var(--font-size-3);
}

.btn-continue-container {
  justify-content: flex-end;
  width: 100%;
}

.btn-continue {
  background-color: var(--black-clr);
  color: var(--white-clr);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: var(--font-size-3);
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 640px) {
  main {
    width: 100%;
    grid-template-columns: 1fr;  }
}

@media (max-width: 1024px) {
  main {
    width: 90%;
  }
}